.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .login-container img {
    box-shadow: 0 45px 78px rgba(17, 3, 3, 1.1); 
    border-radius: 8px; 
    margin-bottom: 20px;
}
  
  .login-card {
    padding: 20px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
  }
  

  